Repository Coders-Asylum/Bots: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-tests, generate-docs

.circleci/config.yml:

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/workflows.yml
          mapping: |
            .+\.cs run-tests true 
            bot/.* run-tests true
            \.csproj run-tests true 
            \.sln run-tests true 
            doc/.* generate-docs true 
            README.md generate-docs true 
            .circleci/config.yml generate-docs true

Updated config.yml
  .circleci/config.yml
Due: generate-docs

patch: script path changed.
  .circleci/workflows.yml
Due: none

patch: updated script path
  .circleci/workflows.yml
Due: none

patch: trailing / removed from results dir path
  .runsettings
Due: none

patch: installs gpg tools into the container
  .circleci/workflows.yml
Due: none

patch: && command removed
  .circleci/workflows.yml
Due: none

patch: piped all commands
  .circleci/workflows.yml
Due: none

patch: removed package gnpug and gnpug2
  .circleci/workflows.yml
Due: none

patch: updating packages
  .circleci/workflows.yml
Due: none

patch: test
  .tool/scripts/get_coverage_path.sh
Due: none

patch: test to capture coverage file path
  .circleci/workflows.yml
  .tool/scripts/get_coverage_path.sh
Due: none

fix: listing all directories' inside results
  .tool/scripts/get_coverage_path.sh
  bot/Initalise.cs
Due: run-tests

patch: listing all directories in output
  .circleci/workflows.yml
  .tool/scripts/get_coverage_path.sh
Due: none

wip: to check where the code is being executed
  .tool/scripts/get_coverage_path.sh
Due: none

Update .runsettings
  .runsettings
Due: none

patch: not appending base dir
  .tool/scripts/get_coverage_path.sh
Due: none

patch: echoing the exported variable
  .tool/scripts/get_coverage_path.sh
Due: none

Update get_coverage_path.sh
  .tool/scripts/get_coverage_path.sh
Due: none

Update workflows.yml
  .circleci/workflows.yml
Due: none

patch: copying file out of output folder for upload
  .circleci/workflows.yml
  .tool/scripts/get_coverage_path.sh
  .tool/scripts/recreate_coverage_file.sh
Due: none

patch: codestyle -> Double quote to prevent globbing and word splitting.
  .tool/scripts/recreate_coverage_file.sh
Due: none

test: tests config is loaded once
  tests/src/ConfigurationTests.cs
Due: run-tests

test: added tests for checking exceptions
  Bots.csproj
  bot/src/Configuration.cs
  tests/res/empty.json
  tests/res/error.json
  tests/src/ConfigurationTests.cs
Due: run-tests

patch: not required to check _isLoadedFlag
  bot/src/Configuration.cs
  tests/src/ConfigurationTests.cs
Due: run-tests

fix: setting env var before the test
  tests/src/ConfigurationTests.cs
Due: run-tests

patch: not checking foe null since that will not happen
  bot/src/Configuration.cs
Due: run-tests

pack: removed sentry package
  Bots.csproj
Due: none

add: Logger class added
  bot/src/Logger.cs
  tests/src/LoggerTests.cs
Due: run-tests
